@model MvcWebApp.Models.Auction

@{
    ViewData["Title"] = "Details";
}

<h1>Auction Details</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Current Bid</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (AuctionItem item in Model.AuctionItems) {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ItemName)</td>
                        <td>@Html.DisplayFor(modelItem => item.CurrentBid)</td>
                        <td>
                            <input type="number" name="bidAmount" id="@item.Id-bidInput">
                            <button class="btn btn-primary" onclick="submitBid(@item.Id)">Bid</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>